.list{
    background-color: #e5d2e0;
    width: 50vw;
    border-radius: 15px;
    height: 50vh;
}

.form {
    background-color: #2e93a1;
    width: fit-content;
    border-radius: 5px;
    padding: 15px;
}